:root{
  --primary-brown: #723C3C;
  --base-black: black;
  --base-gray: #F5F5F5; 

}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  font-family: 'Inter', sans-serif;
}


/*MOBILE*/
/*HEADER -MOBILE*/

header {
  padding: 8%;
  width: 100%;

  background-image: url(images/HomeBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

header a{
  margin-top: 20%;
  height: 20vh;
}

.home-content{
  padding: 0px 15% 0px 15%;
  margin-top: 20%;
}

.home-content img{
  width: 95%;
  margin-bottom: 20%;
}

.social-media {
  width: 100%;
  padding: 0 5% 0 5%;
}

.social-media img{
  width: 30px;
}

.btn-site {
  margin-top: 20%;
  padding: 10px 50px 10px 50px;
  background-color: black;
  color: white;
  font-weight: 600;
}

.btn-site:hover{
  border: solid 2px black;
  color: black;
  background-color: transparent;
}

/*1 SECTION -PRODUCTS*/
.products {
  flex-wrap: wrap;

}


/*PRODUCTS - CARD*/
.card {
  width: 16rem;
  margin: 2%;

  background-color: var(--base-gray);
  border: none;
}

.card p{
  font-weight: 300;
  font-size: 18px;
}

.card:hover{
  cursor: pointer;
}

.btn-card {
  width: 100%;
  background-color: var(--primary-brown);
  color: #FFFF;

  border-radius: 6;
  font-size: 14px;
}

.btn-card img{
  width: 15%;
  margin-right: 15px;
  margin-bottom: 4px;
}

.btn-card:hover{
  color: white;
  background-color: var(--base-black);
  transition: 800ms;
}

/*SECTION 2 - PEDIDO*/
#pedido{
  display: flex;
  flex-direction: column;
}

.pedido-title {
  width: 100%;
  height: 200px;

  background-image: url(images/bgPedido.png);
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
}

#pedido .card {
  width: 90%;
  margin: 0;
  margin-top: -40px;
  align-self: center;
  justify-self: center;
}

.delivery-box {
  padding: 0px 10% 0px 10%;
}

.quantity button {
  width: 35px;
  margin: 0 10px 0 10px;
}

.line {
  width: 15%;
  height: 0.5px;
  margin-top: 10px;
  background-color: var(--base-black);
}